@model SparkNest.UI.MVC.Models.UserVM
<div class="container mt-5">
    <div class="container mt-5">
        <h1 class="text-center mb-4">User Information</h1>
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>ID</th>
                            <td>@Model.Id</td>
                        </tr>
                        <tr>
                            <th>Username</th>
                            <td>@Model.UserName</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>@Model.Email</td>
                        </tr>
                        <tr>
                            <th>Country</th>
                            <td>@Model.Countyr</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="round-image">
                                <img src="@Model.ImageFileStockUrl" class="card-img-top" alt="User Photo" width="200px">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">User Photo</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 float-end ps-3">
                        @await Component.InvokeAsync("UploadProfileImageVC")
                    </div>
                </div>
             
            </div>


        </div>
    </div>

</div>
</div>