@using SparkNest.UI.MVC.Application.DTOs.Blog
@model List<BlogDTO>

<div class="widget popular-feeds">
    <h5 class="widget-title">Featured Posts</h5>
    <div class="popular-feed-loop">
        @foreach (var blog in Model)
        {
            <div class="single-popular-feed">
                <div class="feed-desc">
                    <a class="feed-img" asp-action="Detail" asp-controller="Blog" asp-route-Id="@blog.Id">
                        <img src="@blog.PhotoFileStockUrl" alt="#">
                    </a>
                    <h6 class="post-title">
                        <a asp-action="Detail" asp-controller="Blog" asp-route-Id="@blog.Id">
                            @blog.Title
                        </a>
                    </h6>
                    <span class="time"><i class="lni lni-calendar"></i> @blog.CreateDate</span>
                </div>
            </div>
        }
    </div>
</div>