@using SparkNest.UI.MVC.Models.Product
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col-lg-6 col-md-12">
        <div class="card h-100">
            <div class="card-body">
                <div class="d-flex mb-3">
                    <div class="display-7">
                        <i class="bi bi-basket"></i>
                    </div>
                    <div class="dropdown ms-auto">
                        <a href="#" data-bs-toggle="dropdown" class="btn btn-sm" aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" style="margin: 0px;">
                            <a href="#" class="dropdown-item">View Detail</a>
                            <a href="#" class="dropdown-item">Download</a>
                        </div>
                    </div>
                </div>
                <h4 class="mb-3">Orders</h4>
                <div class="d-flex mb-3" style="position: relative;">
                    <div class="display-7">@ViewBag.OrdersCount</div>
                    <div class="ms-auto" id="total-orders" style="min-height: 35px;"><div id="apexchartsxketoagg" class="apexcharts-canvas apexchartsxketoagg apexcharts-theme-light" style="width: 100px; height: 35px;"><svg id="SvgjsSvg2051" width="100" height="35" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG2053" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs2052"><clipPath id="gridRectMaskxketoagg"><rect id="SvgjsRect2058" width="108" height="39" x="-4" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="gridRectMarkerMaskxketoagg"><rect id="SvgjsRect2059" width="104" height="39" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><line id="SvgjsLine2057" x1="0" y1="0" x2="0" y2="35" stroke="#b6b6b6" stroke-dasharray="3" class="apexcharts-xcrosshairs" x="0" y="0" width="1" height="35" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><g id="SvgjsG2065" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG2066" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"></g></g><g id="SvgjsG2075" class="apexcharts-grid"><g id="SvgjsG2076" class="apexcharts-gridlines-horizontal" style="display: none;"><line id="SvgjsLine2078" x1="0" y1="0" x2="100" y2="0" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine2079" x1="0" y1="8.75" x2="100" y2="8.75" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine2080" x1="0" y1="17.5" x2="100" y2="17.5" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine2081" x1="0" y1="26.25" x2="100" y2="26.25" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine2082" x1="0" y1="35" x2="100" y2="35" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line></g><g id="SvgjsG2077" class="apexcharts-gridlines-vertical" style="display: none;"></g><line id="SvgjsLine2084" x1="0" y1="35" x2="100" y2="35" stroke="transparent" stroke-dasharray="0"></line><line id="SvgjsLine2083" x1="0" y1="1" x2="0" y2="35" stroke="transparent" stroke-dasharray="0"></line></g><g id="SvgjsG2060" class="apexcharts-line-series apexcharts-plot-series"><g id="SvgjsG2061" class="apexcharts-series" seriesName="seriesx1" data:longestSeries="true" rel="1" data:realIndex="0"><path id="SvgjsPath2064" d="M 0 32.8125C 5.833333333333333 32.8125 10.833333333333336 14.875 16.666666666666668 14.875C 22.5 14.875 27.500000000000004 25.8125 33.333333333333336 25.8125C 39.16666666666667 25.8125 44.16666666666667 4.8125 50 4.8125C 55.833333333333336 4.8125 60.833333333333336 16.1875 66.66666666666667 16.1875C 72.5 16.1875 77.50000000000001 30.625 83.33333333333334 30.625C 89.16666666666667 30.625 94.16666666666667 21.875 100 21.875" fill="none" fill-opacity="1" stroke="rgba(214,51,132,0.85)" stroke-opacity="1" stroke-linecap="butt" stroke-width="4" stroke-dasharray="0" class="apexcharts-line" index="0" clip-path="url(#gridRectMaskxketoagg)" pathTo="M 0 32.8125C 5.833333333333333 32.8125 10.833333333333336 14.875 16.666666666666668 14.875C 22.5 14.875 27.500000000000004 25.8125 33.333333333333336 25.8125C 39.16666666666667 25.8125 44.16666666666667 4.8125 50 4.8125C 55.833333333333336 4.8125 60.833333333333336 16.1875 66.66666666666667 16.1875C 72.5 16.1875 77.50000000000001 30.625 83.33333333333334 30.625C 89.16666666666667 30.625 94.16666666666667 21.875 100 21.875" pathFrom="M -1 43.75L -1 43.75L 16.666666666666668 43.75L 33.333333333333336 43.75L 50 43.75L 66.66666666666667 43.75L 83.33333333333334 43.75L 100 43.75"></path><g id="SvgjsG2062" class="apexcharts-series-markers-wrap" data:realIndex="0"><g class="apexcharts-series-markers"><circle id="SvgjsCircle2090" r="0" cx="0" cy="0" class="apexcharts-marker w5apif1jk no-pointer-events" stroke="#ffffff" fill="#d63384" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g></g><g id="SvgjsG2063" class="apexcharts-datalabels" data:realIndex="0"></g></g><line id="SvgjsLine2085" x1="0" y1="0" x2="100" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine2086" x1="0" y1="0" x2="100" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG2087" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG2088" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG2089" class="apexcharts-point-annotations"></g></g><rect id="SvgjsRect2056" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect><g id="SvgjsG2074" class="apexcharts-yaxis" rel="0" transform="translate(-18, 0)"></g><g id="SvgjsG2054" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend" style="max-height: 17.5px;"></div><div class="apexcharts-tooltip apexcharts-theme-light"><div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(214, 51, 132);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label"></span><span class="apexcharts-tooltip-text-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div><div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light"><div class="apexcharts-yaxistooltip-text"></div></div></div></div>
                    <div class="resize-triggers"><div class="expand-trigger"><div style="width: 278px; height: 39px;"></div></div><div class="contract-trigger"></div></div>
                </div>
                <div class="text-success">
                    Over last month 1.4% <i class="small bi bi-arrow-up"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card h-100">
            <div class="card-body">
                <div class="d-flex mb-3">
                    <div class="display-7">
                        <i class="bi bi-credit-card-2-front"></i>
                    </div>
                    <div class="dropdown ms-auto">
                        <a href="#" data-bs-toggle="dropdown" class="btn btn-sm" aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="#" class="dropdown-item">View Detail</a>
                            <a href="#" class="dropdown-item">Download</a>
                        </div>
                    </div>
                </div>
                <h4 class="mb-3">Sales</h4>
                <div class="d-flex mb-3" style="position: relative;">
                    <div class="display-7">@ViewBag.Sales AZN</div>
                    <div class="ms-auto" id="total-sales" style="min-height: 35px;"><div id="apexchartsoj8yxqwu" class="apexcharts-canvas apexchartsoj8yxqwu apexcharts-theme-light" style="width: 100px; height: 35px;"><svg id="SvgjsSvg2092" width="100" height="35" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG2094" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs2093"><clipPath id="gridRectMaskoj8yxqwu"><rect id="SvgjsRect2099" width="108" height="39" x="-4" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="gridRectMarkerMaskoj8yxqwu"><rect id="SvgjsRect2100" width="104" height="39" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><line id="SvgjsLine2098" x1="0" y1="0" x2="0" y2="35" stroke="#b6b6b6" stroke-dasharray="3" class="apexcharts-xcrosshairs" x="0" y="0" width="1" height="35" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><g id="SvgjsG2106" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG2107" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"></g></g><g id="SvgjsG2116" class="apexcharts-grid"><g id="SvgjsG2117" class="apexcharts-gridlines-horizontal" style="display: none;"><line id="SvgjsLine2119" x1="0" y1="0" x2="100" y2="0" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine2120" x1="0" y1="8.75" x2="100" y2="8.75" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine2121" x1="0" y1="17.5" x2="100" y2="17.5" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine2122" x1="0" y1="26.25" x2="100" y2="26.25" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine2123" x1="0" y1="35" x2="100" y2="35" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line></g><g id="SvgjsG2118" class="apexcharts-gridlines-vertical" style="display: none;"></g><line id="SvgjsLine2125" x1="0" y1="35" x2="100" y2="35" stroke="transparent" stroke-dasharray="0"></line><line id="SvgjsLine2124" x1="0" y1="1" x2="0" y2="35" stroke="transparent" stroke-dasharray="0"></line></g><g id="SvgjsG2101" class="apexcharts-line-series apexcharts-plot-series"><g id="SvgjsG2102" class="apexcharts-series" seriesName="seriesx1" data:longestSeries="true" rel="1" data:realIndex="0"><path id="SvgjsPath2105" d="M 0 32.8125C 5.833333333333333 32.8125 10.833333333333336 14.875 16.666666666666668 14.875C 22.5 14.875 27.500000000000004 25.8125 33.333333333333336 25.8125C 39.16666666666667 25.8125 44.16666666666667 4.8125 50 4.8125C 55.833333333333336 4.8125 60.833333333333336 16.1875 66.66666666666667 16.1875C 72.5 16.1875 77.50000000000001 30.625 83.33333333333334 30.625C 89.16666666666667 30.625 94.16666666666667 21.875 100 21.875" fill="none" fill-opacity="1" stroke="rgba(102,16,242,0.85)" stroke-opacity="1" stroke-linecap="butt" stroke-width="4" stroke-dasharray="0" class="apexcharts-line" index="0" clip-path="url(#gridRectMaskoj8yxqwu)" pathTo="M 0 32.8125C 5.833333333333333 32.8125 10.833333333333336 14.875 16.666666666666668 14.875C 22.5 14.875 27.500000000000004 25.8125 33.333333333333336 25.8125C 39.16666666666667 25.8125 44.16666666666667 4.8125 50 4.8125C 55.833333333333336 4.8125 60.833333333333336 16.1875 66.66666666666667 16.1875C 72.5 16.1875 77.50000000000001 30.625 83.33333333333334 30.625C 89.16666666666667 30.625 94.16666666666667 21.875 100 21.875" pathFrom="M -1 43.75L -1 43.75L 16.666666666666668 43.75L 33.333333333333336 43.75L 50 43.75L 66.66666666666667 43.75L 83.33333333333334 43.75L 100 43.75"></path><g id="SvgjsG2103" class="apexcharts-series-markers-wrap" data:realIndex="0"><g class="apexcharts-series-markers"><circle id="SvgjsCircle2131" r="0" cx="0" cy="0" class="apexcharts-marker wiquu9h9qf no-pointer-events" stroke="#ffffff" fill="#6610f2" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g></g><g id="SvgjsG2104" class="apexcharts-datalabels" data:realIndex="0"></g></g><line id="SvgjsLine2126" x1="0" y1="0" x2="100" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine2127" x1="0" y1="0" x2="100" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG2128" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG2129" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG2130" class="apexcharts-point-annotations"></g></g><rect id="SvgjsRect2097" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect><g id="SvgjsG2115" class="apexcharts-yaxis" rel="0" transform="translate(-18, 0)"></g><g id="SvgjsG2095" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend" style="max-height: 17.5px;"></div><div class="apexcharts-tooltip apexcharts-theme-light"><div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(102, 16, 242);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label"></span><span class="apexcharts-tooltip-text-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div><div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light"><div class="apexcharts-yaxistooltip-text"></div></div></div></div>
                    <div class="resize-triggers"><div class="expand-trigger"><div style="width: 278px; height: 39px;"></div></div><div class="contract-trigger"></div></div>
                </div>
                <div class="text-danger">
                    Over last month 2.4% <i class="small bi bi-arrow-down"></i>
                </div>
            </div>
        </div>
    </div>
    
   
   
    <div class="col-lg-5 col-md-12">
        <div class="card widget">
            <div class="card-header">
                <h5 class="card-title">Activity Overview</h5>
            </div>
            <div class="row g-4">
                <div class="col-md-6">
                    <div class="card border-0">
                        <div class="card-body text-center">
                            <div class="display-5">
                                <i class="bi bi-truck text-secondary"></i>
                            </div>
                            <h5 class="my-3">Delivered</h5>
                            <div class="text-muted">@ViewBag.Delivered New Packages</div>
                            <div class="progress mt-3" style="height: 5px">
                                <div class="progress-bar bg-secondary" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card border-0">
                        <div class="card-body text-center">
                            <div class="display-5">
                                <i class="bi bi-receipt text-warning"></i>
                            </div>
                            <h5 class="my-3">Ordered</h5>
                            <div class="text-muted">@ViewBag.OrdersCount</div>
                            <div class="progress mt-3" style="height: 5px">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 67%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card border-0">
                        <div class="card-body text-center">
                            <div class="display-5">
                                <i class="bi bi-bar-chart text-info"></i>
                            </div>
                            <h5 class="my-3">Reported</h5>
                            <div class="text-muted">50 Support New Cases</div>
                            <div class="progress mt-3" style="height: 5px">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card border-0">
                        <div class="card-body text-center">
                            <div class="display-5">
                                <i class="bi bi-cursor text-success"></i>
                            </div>
                            <h5 class="my-3">Arrived</h5>
                            <div class="text-muted">@ViewBag.Arrived  Upgraded Boxed</div>
                            <div class="progress mt-3" style="height: 5px">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-12">
        <div class="card widget">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="card-title">Recent Products</h5>
                <div class="dropdown ms-auto">
                    <a href="#" data-bs-toggle="dropdown" class="btn btn-sm btn-floating" aria-haspopup="true" aria-expanded="false">
                        <i class="bi bi-three-dots"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a href="#" class="dropdown-item">Action</a>
                        <a href="#" class="dropdown-item">Another action</a>
                        <a href="#" class="dropdown-item">Something else here</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="text-muted">Products added today. Click <a href="#">here</a> for more details</p>
                <div class="table-responsive" tabindex="1" style="overflow: hidden; outline: none;">
                    <table class="table table-custom mb-0" id="recent-products">
                        <thead>
                            <tr>
                                <th>
                                    <input class="form-check-input select-all" type="checkbox" data-select-all-target="#recent-products" id="defaultCheck1">
                                </th>
                                <th>Photo</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th class="text-end">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in (List<ProductVM>)ViewBag.Products)
                            {
                                <tr>
                                    <td>
                                        <input class="form-check-input" type="checkbox">
                                    </td>
                                    <td>
                                        <a href="#">
                                            <img src="@product.PhotoFileStockUrl" class="rounded" width="40" alt="...">
                                        </a>
                                    </td>
                                    <td>@product.Name</td>
                                    <td>@product.Price AZN</td>
                                    <td class="text-end">
                                        <div class="d-flex">
                                            <div class="dropdown ms-auto">
                                                <a href="#" data-bs-toggle="dropdown" class="btn btn-floating" aria-haspopup="true" aria-expanded="false">
                                                    <i class="bi bi-three-dots"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a href="#" class="dropdown-item">Action</a>
                                                    <a href="#" class="dropdown-item">Another action</a>
                                                    <a href="#" class="dropdown-item">Something else here</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            }
                       
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>