@{
    ViewData["Title"] = "Index";
}

@model BasketVM

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Basket</h5>

                @if (Model != null && Model.BasketItems is not null)
                {
                    <table class="table table-striped">
                        <tr>
                            <th>Product Name</th>
                            <th>Product Price</th>
                            <th>Product Quantity</th>
                            <th>Actions</th>
                        </tr>

                        @foreach (var item in Model.BasketItems)
                        {
                            <tr>
                                <td>@item.ProductName</td>
                                <td>
                                    @item.GetCurrentPrice TL @(Model.HasDiscount ? $"(%{Model.DiscountRate.Value} applied)" : "")
                                </td>
                                <td>@item.Quantity</td>
                                <td>
                                    <a class="btn btn-danger" asp-controller="Basket" asp-action="RemoveBasketItem" asp-route-productId="@item.ProductId">Delete</a>
                                </td>
                            </tr>
                        }

                        @if (Model.HasDiscount)
                        {
                            <tr>
                                <td>Discount Rate</td>
                                <th colspan="2"> % @Model.DiscountRate.Value</th>
                            </tr>
                        }

                        <tr>
                            <td>@(Model.HasDiscount ? "Discounted Price" : "Total Price")</td>
                            <th colspan="3">@Model.TotalPrice TL</th>
                        </tr>
                    </table>

                    <form asp-controller="Basket" asp-action="ApplyDiscount">
                        @if (Model.HasDiscount)
                        {
                            <div class="alert alert-success">
                                "@Model.DiscountCode" discount code applied
                                <a asp-controller="Basket" asp-action="CancellApplyDiscount"> (cancel)</a>
                            </div>
                        }

                     @*    <div class="input-group mb-3">
                            <input type="text" class="form-control" name="DiscountApplyVM.Code">
                            <button class="btn btn-outline-secondary" type="submit">Apply</button>
                        </div> *@

                        @if (TempData["discountStatus"] != null && (bool)TempData["discountStatus"] == false)
                        {
                            <div class="text-danger">Invalid discount code</div>
                        }
                        @if (TempData["discountError"] != null)
                        {
                            <div class="text-danger">@TempData["discountError"]</div>
                        }
                    </form>
                    <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Go to Checkout</a>
                    <a class="btn btn-warning" asp-controller="HomePage" asp-action="Index">Continue Shopping</a>
                }
                else
                {
                    <div  style="background-color:rgba(200,50,0,0.5);padding:40px; border-radius:10px; margin:20px; text-align:center; color:white; font-size:35px">Basket is empty</div>
                }
            </div>
        </div>
    </div>
</div>
